# [build]
gfm_main_1d
gfm_main_2d
gfm_main_3d
build/

# [python]
__pycache__/
*.pyc
.venv/

# [data + outputs]
data/
*.png
*.csv

# [misc]
*.log
*.exe
gfm_main_3D
mm_main_1d
mm_main_2d
mm_dim_1d
